@font-face {
    font-family: 'Architects Daughter';
    src: url('../../shared/fonts/ArchitectsDaughter-Regular.ttf');
}
@font-face {
    font-family: 'Rubik Mono One';
    src: url('../../shared/fonts/RubikMonoOne-Regular.ttf');
}
$font-color: #000;
$card-font-color: rgb(14, 99, 33);
$card-color: rgb(177, 228, 130);
$leaf-border: url('../../shared/img/leaf-frame.png');
$background-img: url('../../shared/img/jungle.jpg');
$outer-style-font: 'Architects Daughter';
$nav-font: 'Rubik Mono One';
