{% include'incl/header.twig' %}
{% include 'incl/nav.twig' %}
<body>
    <div class="card">
    <div class="main" role="main">
        {{ content }}
    </div>
    </div>
</body>
{% include 'incl/footer.twig' %}

</html>
