

{% include'incl/header.twig' %}
{% include 'incl/nav.twig' %}
<body>

    <div class="card-technology">
    <div role="main">
    <div class="landingpage">
        {{ content }}
        </div>
    </div>
    </div>
    </div>
</body>
{% include 'incl/footer.twig' %}

</html>
